/************ Main **************/
 @media (max-width: 1536px) {

}
 @media (max-width: 1460px) {

}
 @media (max-width: 1366px) {

}
 @media (min-width: 768px) and (max-width: 1024px) {
     .wrapper{padding: 0px}
     .content_area{padding: 15px}
     #sidebar {left: -375px; transition: all 0.3s;}
     #sidebar.active{left: 0px; transition: all 0.3s; z-index: 33}
     .header-area{margin-bottom: 15px}
     .header-area .user-menu{padding: 5px; font-size: 0px}
     .header-area .user-menu .circle-code{margin-right: 0px}
     .header-area .user-menu .arrow{display: none}
     .header-area .right .btn-menu{display: block;}
}
 @media (max-width: 767px) {
	 html {
		 -webkit-text-size-adjust: none;
	}

    .sign-in-fullscreen-area .sign_in_up_form_area{box-shadow: none; width: 90%}
    .wrapper{padding: 0px}

    #sidebar {min-width: 220px; max-width: 220px; left: -250px; transition: all 0.3s; padding: 15px}
    #sidebar.active{left: 0px; transition: all 0.3s; z-index: 33}
    #sidebar ul.main-menu li a{font-size: 14px; padding: 6px 10px;}

    .header-area{padding: 10px 15px; z-index: 9}
    .header-area .logo-icon {height: 34px;}
    .header-area .right .btn-menu{display: block;}
    .header-area .user-menu{font-size: 0px; padding: 0px 36px 0px 0px; line-height: 28px;}
    .header-area .user-menu span{font-size: 0px}

    .content_area{padding: 56px 15px 60px 15px}

    .page-title{font-size: 20px; line-height: 26px; margin: 15px 0;}
    .page-title a{font-size: 13px; padding: 7px 10px 5px 10px; margin-left: 20px; text-align: center;}

    .number-block .icon{width: 40px; height: 40px}
    .number-block .subtitle,
    .number-block .subtitle span{font-size: 18px; line-height: 18px;}

    .search-area{margin-bottom: 20px}
    .search-area .btn-submit{margin-top: 5px}
    .table thead tr {position: absolute; top: -9999px; left: -9999px;}
    .table tbody tr {border-top: #404040 3px solid;}
    .table tbody tr td {border: none !important;position: relative; display: inline-block; width: 100%; padding: 0px !important; font-size: 15px; color: #fff;}
    .table tbody tr td:first-child{padding-top: 10px !important}
    .table tbody tr td:last-child{padding-bottom: 10px !important}
    .table tbody tr td.right{text-align: left; margin-bottom: 0px}
    .table tbody tr td:before {font-size: 15px; color: #fff;line-height: 16px; font-weight: 500; text-align: left; margin-right: 5px}
    .user-table tbody tr td:nth-of-type(1):before {content: "No. : ";}
    .user-table tbody tr td:nth-of-type(2):before {content: "Full Name : ";}
    .user-table tbody tr td:nth-of-type(3):before {content: "Phone Number : ";}
    .user-table tbody tr td:nth-of-type(4):before {content: "Flat Number : ";}
    .user-table tbody tr td:nth-of-type(5):before {content: "Action : ";}
    .table tbody tr td .btn-icon{margin-left: 0px; margin-right: 10px}
    .table tbody tr td .btn-icon img {width: 16px;}

    .bike-table tbody tr td:nth-of-type(1):before {content: "No. : ";}
    .bike-table tbody tr td:nth-of-type(2):before {content: "Full Name : ";}
    .bike-table tbody tr td:nth-of-type(3):before {content: "Phone Number : ";}
    .bike-table tbody tr td:nth-of-type(4):before {content: "Flat Number : ";}
    .bike-table tbody tr td:nth-of-type(5):before {content: "Bike 1 : ";}
    .bike-table tbody tr td:nth-of-type(6):before {content: "Bike 2 : ";}

    .car-table tbody tr td:nth-of-type(1):before {content: "No. : ";}
    .car-table tbody tr td:nth-of-type(2):before {content: "Full Name : ";}
    .car-table tbody tr td:nth-of-type(3):before {content: "Phone Number : ";}
    .car-table tbody tr td:nth-of-type(4):before {content: "Flat Number : ";}
    .car-table tbody tr td:nth-of-type(5):before {content: "Car Number : ";}

    .rent-table tbody tr td:nth-of-type(1):before {content: "No. : ";}
    .rent-table tbody tr td:nth-of-type(2):before {content: "Full Name : ";}
    .rent-table tbody tr td:nth-of-type(3):before {content: "Phone Number : ";}
    .rent-table tbody tr td:nth-of-type(4):before {content: "Flat Number : ";}
    .rent-table tbody tr td:nth-of-type(5):before {content: "Charge Amount : ";}
    .rent-table tbody tr td:nth-of-type(6):before {content: "Aadhar Card Number : ";}
    .rent-table tbody tr td:nth-of-type(7):before {content: "Action : ";}

    .club-table tbody tr td:nth-of-type(1):before {content: "No. : ";}
     .club-table tbody tr td:nth-of-type(2):before {content: "Booking Date : ";}
     .club-table tbody tr td:nth-of-type(3):before {content: "Flat Number: ";}
     .club-table tbody tr td:nth-of-type(10):before {content: "Full Name : ";}
     .club-table tbody tr td:nth-of-type(4):before {content: "Phone Number : ";}
     .club-table tbody tr td:nth-of-type(5):before {content: "Unit : ";}
     .club-table tbody tr td:nth-of-type(6):before {content: "Amount : ";}
     .club-table tbody tr td:nth-of-type(7):before {content: "Committee Member : ";}
     .club-table tbody tr td:nth-of-type(8):before {content: "status : ";}
     .club-table tbody tr td:nth-of-type(9):before {content: "Action : ";}

     .expenses-table tbody tr td:nth-of-type(1):before {content: "No. : ";}
     .expenses-table tbody tr td:nth-of-type(2):before {content: "Name : ";}
     .expenses-table tbody tr td:nth-of-type(3):before {content: "Title : ";}
     .expenses-table tbody tr td:nth-of-type(4):before {content: "Amount : ";}
     .expenses-table tbody tr td:nth-of-type(5):before {content: "Payment Mode : ";}
     .expenses-table tbody tr td:nth-of-type(6):before {content: "Image : ";}
     .expenses-table tbody tr td:nth-of-type(7):before {content: "Action : ";}

    ul.member-list li{width: 100%}
    ul.list-ui li{width:100%;}
    .filter-role{font-size: 12px;}
    .bottomtab{display: block;}

    ul.dashboard-icon-list li{width: 50%;}
    .form-area .btn-submit{padding: 12px 30px;}

    ul.radio-flex{margin: 0 -5px 5px -5px;}
    ul.radio-flex li{width: 33.33%; margin-bottom: 10px;}
}
